@use "sass:color";
@use '../../styles/settings.scss' as *;

.card {
  position: relative;
  background: $color-light;
  border: 1px solid color.adjust($color-dark, $lightness: 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}