@use "sass:math";
@use '../../styles/settings.scss' as *;

.listForm {
  max-width: 960px;
  margin: $base-size auto 0;
}

.row {
  display: flex;
  justify-content: center;
  gap: $base-size;
  align-items: flex-end;
  flex-wrap: wrap;
}

.field {
  display: flex;
  align-items: center;
  gap: math.div($base-size, 2);
  flex: 0 0 300px;
}

.label {
  display: inline-block;
  white-space: nowrap;
  min-width: 90px;
  text-align: right;
}

.input {
  width: 100%;
}

.row button {
  align-self: flex-end;
}
